.fulishe {
    width: 10rem;
    height: 2rem;
    background-image: url(/fulishe/images/icon-arrow.png);
    background-size: contain;
}

.fulishe2 {
    width: 10rem;
    height: 2rem;
    background-image: url(/fulishe/images/homepage.jpg);
    background-size: contain;
}

